.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  align-items: center;
}

.header h2 {
  font-size: 2em;
}

.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #d46829;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.linebreak {
  border-top: #d46829;
  border-color: #d46829;
}

.title {
  /* align-items: center;
  margin: 10px auto; */
  font-size: 20px;
}